.pagination {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.6rem;
}

.pagination .pages {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.pagination button {
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #777;
  font-weight: normal;
  font-size: 0.76rem;
}

.pagination .arrows {
  border: none;
}