/**
* Define o 'box-sizing' do elemento raíz
*/
html {
  box-sizing: border-box;
}

/**
* Faz todos os elementos herdarem o 'box-sizing' do elemento raíz 'html'
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
* Indica a font a ser usada
*/
body,
input,
select,
button {
  font-family: 'Comfortaa', cursive;
}

/**
* Retira a margin imposta pelo browser
*/
body,
h1,
h3,
h4,
ul,
p {
  margin: 0;
}

/**
* Retira o padding imposto pelo browser
*/
ul {
  padding: 0;
}
