* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #F1F3F5;
}

.nav-border-bottom {
    border-bottom: 1px solid #E0E0E0;
}

.nav-border-right {
    border-right: 1px solid #E0E0E0;
}

.nav-border-left {
    border-left: 1px solid #E0E0E0;
}

i {
    font-size: 150%;
}

.icon-span {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.icon-span:hover {
    color: #E0E0E0;
}

.icon-span:active {
    font-weight: bold;
}

.nav-span {
    text-decoration: none;
    color: black;
}

.logout-btn {
    left: auto;
    right: auto;
}

.not-pointer {
    cursor: auto;
}

.card-width {
    width: 85%;
}

.upload-card {
    cursor: pointer;
}

.upload-card:hover {
    border: 2px solid #198754;
}

.grey-background {
    background-color: #F1F3F5;
}

table {
    background-color: white;
}

.icon-align {
    vertical-align: text-bottom;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    left: 100%;
}

@media only screen and (max-width: 1450px) {
    h6 {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width:  1310px) {
    h6 {
        font-size: 0.75rem;
    }
    .icon-align {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 1230px) {
    h6 {
        font-size: 0.65rem;
    }
    .icon-align {
        font-size: 0.7rem;
    }
    i {
        font-size: 125%;
    }
}

@media only screen and (max-width: 1145px) {
    i {
        font-size: 150%;
    }
}