@font-face{
    font-family: Rokkitt;
    src: url(./fonts/Rokkitt.ttf)
}
@font-face{
    font-family: Sansation-Light;
    src: url(./fonts/Sansation_Light.ttf)
}
@font-face{
    font-family: Scada-Regular;
    src: url(./fonts/Scada-Regular.ttf)
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

/* Cabeçalho */

.cabecalho{
    background-color: #FAFAFA; 
    border-bottom: 1px inset rgb(204, 204, 204);
}  

.fixed{
    position: fixed;
    
}

#logotipo{
    width: 250px;
    height: 75px;
    margin-left: 50px;
}
.card-header a{
    font-family: Sansation-Light;
    text-shadow: 2px 2px 4px #c5c5c5; 
}

#seta-actions{
    width: 10px;
}
.col-menu{
    text-align: center;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.col-menu > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.col-menu:hover{
    background-color: rgb(211, 211, 211);
}

/* Tabela */

.dataTables_length>label{
    display:none;
}

.background-table{
background-color: #6C0D0D;
display: flex;
justify-content: center;
align-items: center;
padding-top: 30px;
padding-bottom: 30px;
background: linear-gradient( to bottom, #6C0D0D 10%, #fafafa);
}
.tamanho-tabela{
    width: 90%;

    background-color: #FAFAFA;

}
.dataTables_paginate {
display: flex;
justify-content: center;
align-items: center;
background-color: #FAFAFA;
}

/* Seção 2 */
.box-adicionar{
    background-color: #fafafa;
    height: 645px;
}
.box-excluir {
    background-color: #6C0D0D ;
    opacity: 50%;
    height: 645px;
}
