<div class="landing-page">
    <div class="landing-page-title">
        Bem vindo ao projeto de teste da Oliveira Trust
    </div>

    <div class="landing-page-description">
        <p>
            Este projeto foi desenvolvido como teste para a vaga de desenvolvedor na Oliveira Trust.
            O projeto foi desenvolvido em Angular 11. O objetivo dele é criar um Dashboard bonito e funcional.
        </p>
        
        <p>
            Os dados apresentados foram criados utilizando o <a href="https://www.mockaroo.com/">Mockaroo</a>.
        </p>
        <p>
            As tecnologias utilizadas estão disponíveis no README do repositório no Github, para acessa-lo clique <a>aqui</a>
        </p>
        <p>
            Para mais informações, entrar em contato por email clicando <a href="mailto:rcarnevale89@gmail.com">aqui</a>.
        </p>
    </div>
</div>