.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  border-color: gray;
  width: 100%;
}

tbody tr,
thead th,
tfoot {
  line-height: 3rem;
}

thead th {
  border-bottom: 2px solid rgb(204, 201, 201);
  text-align: left;
}

tbody td {
  padding-left: 0.5rem;
}

tbody tr:nth-child(2n) {
  background: #eee;
}

.pagination-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid #e4e4e4;
}

.pagination-box .registros {
  font-size: 0.8rem;
  color: #aaa;
}
