.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  background-color: #ffffff;
  margin: 0;
  height: 80px;
  }

.logo{
  width: 200px;
}
.user__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.left-user___container{
  display: flex;
  align-items: center;
}
.user__photo{
  width: 30px;
}

.logout__icon{
  width: 20px;
}

.pagina-atual {
  background-color: blue;
}