$primary-color: #007BFF;
$secondary-color: #424242;
$accent-color: #82B1FF;
$error-color: #E22849;
$info-color: #2196F3;
$success-color: #4CAF50;
$warning-color: #FFC107;
$neutral-color: #FFFFFF;
$bg-color: #F5F6F8;
$txt-color: #3A3A3A;
$border-color: #cecece;