.headerContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  display: flex;
  align-self: center;
  width: 20%;
}

.headerLogin {
  display: flex;
  gap: 40px;
}

.headerButtonLogin {
  display: flex;
  gap: 5px;
  border: 0;
  background: transparent;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.headerButtonLogOut {
  display: flex;
  gap: 5px;
  border: 0;
  background: transparent;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .logo {
    width: 50%;
  }
}
