.table__container{
  width: 80vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 50px 10vw;
}
.table-title__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;  
  padding: 0 15px;
}

.export__button{
  width: 160px;
  background-color:  transparent;
  color: #007bff;
  height: calc(2.25rem + 2px);
  border-radius: 0.25rem;
  font-size: 1rem;
  border: 1px solid #007bff;
  cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;

}


.table{
  width: calc(100% - 30px); 
  margin: 0 15px;
  border-collapse: collapse;
  text-align: left;
}


.table th {
  padding: 15px;
  border-bottom: 1px solid black; 
}


.table td {
  padding: 15px; 
}


.table tbody tr:nth-child(even) {
  background-color: #ffffff; 
}

.table tbody tr:nth-child(odd) {
  background-color: #f5f6f8; 
}


.icon__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 30px;

}
.pagination__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;


}

.pagenation__buton{
  width: 50px;
  height: 30px;
  background-color: #f5f6f8;
  border-radius: 0.25rem;
  
}

.pagenation__icon{
  width: 20px;
}
.pagina-atual{
  background-color: #007bff;
  opacity: 0.8;
}