
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="menu-nav">
        <a class="navbar-brand logo" href="#">
            <img src="../../../../assets/images/favicon.ico">
                <p class="logoname">Oliveira Trust</p>
        </a>
        
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">
                        Funcionários
                </a>
            </li>
        </ul>
    </div>
   
    <div class="menu-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-nav nav-link" style="cursor: pointer;">
                    <i class="bi bi-person-circle"></i> 
                    Perfil
                </a>
            </li>
        </ul>
        
    </div>
</nav>
