
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="menu-nav">
        <a class="navbar-brand logo" href="#">
            <img src="../../../../assets/images/favicon.ico">
                <p class="logoname">Oliveira Trust</p>
        </a>
        
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">
                        Funcionários
                </a>
            </li>
        </ul>
    </div>
   
    <div class="menu-nav">
        <ul class="navbar-nav mr-auto ">
            <li ngbDropdown class="nav-item">
                <a class="navbar-nav nav-link user-menu" id="dropdown-user" ngbDropdownToggle style="cursor: pointer;">
                    <i class="bi bi-person-circle"></i> 
                    Nome do Usuário
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdown-user">
                    <button ngbDropdownItem>Meu Perfil</button>
                    <button ngbDropdownItem>Item do Menu</button>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem>Desconectar</button>
                  </div>
            </li>
        </ul>
        
    </div>



</nav>
