.c-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 4px;

  &.primary {
    background-color: #007bff;
    color: white;
    border: none;
  }

  &.danger {
    background-color: #e90404;
    color: white;
    border: none;
  }

  &.outline {
    color: #007bff;
    background-color: white;
    border: #007bff solid 2px;
  }

  &.clear {
    color: #007bff;
    background-color: transparent;
    border: transparent solid 1px;

    &:hover {
      border: #007bff solid 1px;
    }
  }

  &.margin-right {
    margin-right: 10px;
  }

  &.margin-top {
    margin-top: 10px;
  }
}
