.c-modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;

  .c-modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    .c-modal-container {
      width: 500px;
      margin: 0px auto;
      padding: 50px;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;
      font-family: Helvetica, Arial, sans-serif;

      .c-modal-header {
        &__title {
          margin-top: 0;
          font-size: 20px;
          font-weight: bold;
          border-bottom: #ccc solid 1px;
          padding-bottom: 10px;
          & * {
            margin: 0px;
          }
        }
      }

      .c-modal-body {
        margin: 20px 0;
      }
      .c-modal-footer {
        .c-modal-default-button {
          float: right;
        }
      }
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.c-modal-enter .c-modal-container,
.c-modal-leave-active .c-modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
