.searchValidation {
  display: flex;
  padding: 15px;
  /* align-items: center; */
  gap: 15px;
  background: #fff;
  margin-bottom: 10px;
}

.searchValidation input {
  width: 100%;
  max-width: 290px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  padding: 5px;
}

.searchValidation input:hover {
  border: 1px solid #007bff;
}

.searchValidation input:focus {
  border: 1px solid #007bff;
}

.searchValidation input:focus-visible {
  outline: 1px solid #007bff;
}

.searchValidation input::placeholder {
  font-style: italic;
}

.searchDivInput {
  position: relative;
  width: 100%;
  max-width: 290px;
  height: 100px;
}

.searchDivButton {
  display: flex;
  width: 100%;
  max-width: 290px;
}

.buttonSearch {
  width: 100%;
  max-width: 290px;
  height: 42px;
  padding: 0;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #007bff;
  color: #007bff;
  cursor: pointer;
}

.pi-search:before {
  padding-right: 10px;
}

.searchErrorMessage {
  /* position: absolute; */
  bottom: -50px;
  font-style: italic;
  font-size: 13px;
  color: red;
  text-align: start;
}

@media screen and (max-width: 1025px) {
  .searchDivInput {
    max-width: none;
  }
  .searchValidation input {
    max-width: none;
  }
  .searchValidation {
    flex-direction: column;
  }

  .searchDivInput {
    height: auto;
  }
}
