

@media screen and ( max-width: 500px ) {
  .searchContainer form button {
    width: 80px;
  }

  .searchContainer form button p {
    display: none;
  }

  .searchContainer form button svg {
    margin-right: 0;
  }
}