@import '@/assets/scss/_main';

p {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.btn, button {
    background-color: $red;
    border: 0px solid transparent;
}

button {
    color: $white;
    padding: 5px;
    margin: 2px;
    border-radius: 6px;
}

input {
    height: 36px;
    border: 2px solid #854a4a;
    border-radius: 5px;
    margin-right: 5px;
    padding-left: 15px;
}

.inputs {
    display: flex;
    padding: 20px;
}

li {
    list-style: none;
    border: 1px solid rgb(194, 184, 184);
    padding: 10px;
    margin-left: -10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}